{include file="public/header" }
    <!-- 图片轮播块 -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" class="img-responsive" src="../../../../public/static/index/images/aboutus-banner.png" alt="First slide">
        </div>
      </div>
    </div>

    <!-- 中间内容主体 -->
    <div class="content">
      {include file="public/message"}
      <div class="container">
        <div class="row pd-l-r-136">
          <div class="col-sm-4 col-md-4">
            <img class="img-responsive margin-top_80" src="../../../../public/static/index/images/morecoast-1.png">
            <img class="img-responsive margin-top-5" src="../../../../public/static/index/images/morecoast-2.png">
          </div>
          <div class="col-sm-4 col-md-4">
            <h2 class="bottom-blue-border text-center color-deepblue">
            Islands<br>
            And Coast
            </h2>
            <p>
              Ringed by some of Africa’s best coral beaches and blessed with one of the most mellifluous names in the world, Zanzibar is the main island of the archipelago. 
            </p>
          </div>
          <div class="col-sm-4 col-md-4">
            <img class="img-responsive margin-top-60" src="../../../../public/static/index/images/coast2.png">
          </div>
        </div>

        <div class="row pd-l-r-90 margin-top-60">
          <div class="col-sm-4 col-md-4">
            <img class="img-responsive" src="../../../../public/static/index/images/town-1.png">
          </div>
          <div class="col-sm-4 col-md-4 bg-deepblue">
            <h2 class="bottom-white-border text-center color-white margin-top-60">
            IslandsAnd Coast
            </h2>
          </div>
          <div class="col-sm-4 col-md-4">
            <img class="img-responsive" src="../../../../public/static/index/images/town-2.png">
          </div>
          <div class="col-sm-12 col-md-12">
            <img class="img-responsive" src="../../../../public/static/index/images/town-3.png">
          </div>
        </div>
        <div class="row island-text-div">
          <p>
            Zanzibar Town, also called “Stone Town”, is the heart of the archipelago, and the first stop for most travelers. 
            <br><br>
            In Stone town, when you walking through its alleyways which overhanging with wooden balconies and facing from every shore of the Indian Ocean, you will easily lose yourself in centuries of history. Stone Town was host to one of the world’s last open slave markets and stories of cruelty still strike at the conscience.
            <br><br>
            With numerous islands within sight of Stone Town, some of the most popular activities are heading out on a dhow for snorkeling, island-hopping and diving. There are many islands you can visit, too.
            <br><br>
            For example, you can go to Paje, which has a wide, white beach at the junction where the coastal road north to Bwejuu and south to Jambiani joins with the road from Zanzibar Town, people can go to the seaweed center or go for diving here. 
          </p>
        </div>
        <div class="row pd-l-r-90">
          <img class="img-responsive margin-bottom-20" src="../../../../public/static/index/images/town-4.png">
          <div class="col-sm-6 col-md-6">
            <p class="padding-15">
              KiliMaster will assist you explore a unique experience in Zanzibar according to your demands. For example, we can take you on a cultural tour to explore the fascinating history of Zanzibar and fantastic artisan culture. We would take you to find out the role of men and women, children’s education, rituals of marriage and a plethora of handcraft traditions in Zanzibar. 
            </p>
          </div>
          <div class="col-sm-6 col-md-6">
            <p class="padding-15">
              Or we can go for a Ghost Tour to take a look at the slave trade and revolution through houses, or locations believed to be haunted, or join a cooking workshop that will take you shopping in local market and teach you how to make some delicious local homemade dishes with local spices. 
              <br><br>
              You will have an enjoyable and memorable holiday; all you need to do is to stay with KiliMaster.
            </p>
          </div>
        </div>
      </div>
    </div>

{include file="public/footer" }