<!-- 底部 -->
<div class="footer">
    <div class="container text-center">
        <br><br>
        <span>© 2017 - ALL RIGHTS RESERVED</span>
    </div>
</div>

<!-- back to top  contact us-->
<!-- <div class="navbar-fixed-bottom pull-right">
  <button type="button" class="btn btn-primary" >us</button>
  <a class="back-to-top" href="#top">返回顶部</a>
</div> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/message.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__JS__/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $("[target=iframe]").on("click", function() {
        $(".nav-item").removeClass("active");
        $(this).parents(".nav-item").addClass("active");
        $(this).blur();
    });
</script>
</body>
</html>
