{include file="public/header" }
    <!-- 头部 -->
    <div class="header">
      <!-- 图片轮播块 -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="third-slide img-responsive" class="img-responsive" src="__IMAGE__/carousel3.png" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <!-- 中间内容主体 -->
    <div class="content">
      {include file="public/message"}
      <div class="container">
        <!-- 两张小图片-->
        <div class="row img-2-div">
          <img class="" src="__IMAGE__/moutain1.png">
          <img class="" src="__IMAGE__/moutain2.png">
        </div>
        <h2 class="bottom-blue-border text-center">Moutain</h2>
        <div class="pd-l-r-90">
          <h1 class="bottom-gray-border color-deepblue">Kilimanjaro</h1>
          <div class="col-sm-6 col-md-6 kilimanjato-div-text-box">
            <p class="border-dotted padding-15">
            As the highest freestanding mountain in the world, Kilimanjaro located in northeastern Tanzania. It is the pride of Africans. But it has some experts predict that the glacier<br>
            s on Kilimanjaro will disappear in ten years, at that time, people will never see the snow-capped Kilimanjaro again.<br>
            Now the Mt Kilimanjaro National Park has become one of Tanzania’s most visited parks. Many people come here is all about gazing in awe at a mountain on the equator capped with snow, and to climb to the top of Africa. <br>
            A trek up Kili lures around 25,000 trekkers each year, but don’t be fooled by the number of people who climb Kilimanjaro, this is a very serious undertaking. While many thousands of trekkers reach Uhuru Peak without major difficulty, many more don’t make it because they suffer altitude sickness and other problems. 
            </p>
          </div>
          <div class="col-sm-6 col-md-6">
            <img class="img-responsive" src="__IMAGE__/moutain3.png">
          </div>
        </div>
        <div class="row pd-l-r-136">
          <div class="col-sm-12 col-md-12 margin-top-60">
            <h1 class="bottom-gray-border color-deepblue">7 climbing routes</h1>
            <img class="img-responsive" src="__IMAGE__/moutain4.png">
            <img class="img-responsive center-block transform-img1" src="__IMAGE__/moutain5.png">
            <img class="img-responsive center-block transform-img2" src="__IMAGE__/moutain6.png">
          </div>
        </div>
        <div class="row pd-l-r-136 margin-top-60">
          <h1 class="bottom-gray-border color-deepblue">
            How to reach a higher probability to the top
          </h1>
          <p class="color-gray">
            <span class="font-size-20">Choose a longer route</span> that you have more time to acclimatize if you are unsure of your ability. Adding a day or two can increase your odds of success.
            <br><br>
            <span class="font-size-20">Walk slowly</span> enables you to acclimatize. Slow paced walk can help to have a high success rate to the top.
            <br><br>
            <span class="font-size-20">Drink plenty of water</span> can reduce the possibility of altitude sickness.
            <br><br>
            <span class="font-size-20">Find a solid guide service.</span> Good guide is better trained to deal with altitude sickness and other emergencies on the mountain. Your life is priceless, and certainly worth more than saving a few hundred dollars. Additionally, the good operators will serve better food and have better equipment - both of which keep you healthier and stronger on the mountain.
            <br><br>
            <span class="font-size-20">Take training seriously.</span> The summit and immediate long descent is very tough. Do not underestimate how tiring it is to come from 19,340 feet to 9,000 feet.
            <br><br>
            <span class="font-size-20">Bring the right gear.</span> You need apparel that will keep you warm and dry. You also need well broken in, comfortable boots. You will be spending a lot of time in them. Take care of your feet too.
          </p>
        </div>
        <div class="row pd-l-r-136 margin-top-60">
          <h1 class="bottom-gray-border color-deepblue">
            How to reach a higher probability to the top
          </h1>
          <div class="col-sm-6 col-md-6">
            <img class="img-responsive center-block margin-top-10" src="__IMAGE__/moutain7.png">
          </div>
          <div class="col-sm-6 col-md-6">
            <p class="margin-top-10">
              Over 95% of our clients successfully climbed to the top of Mt Kilimanjaro. This mainly due to we provide following professional services:<br>
              1．Experienced guide<br>
              2．Professional mountaineering equipment<br>
              3．Clean accommodation<br>
              4．High quality of food supply<br>
              5．Professional service team<br>
              6．Reliable medical care<br>
              We are highly pleasure to greet you on the roof of Africa.
            </p>
          </div>
        </div>
      </div>
    </div>

{include file="public/footer" }
